.describe
{
    margin-right:20px;
    margin-left:50px;
    margin-bottom:20px;
}
.title
{
    margin-left:98px;
    margin-bottom:20px;
}
.description
{
    margin-left:55px;
    margin-bottom:20px;

}
input[type=text], select {
    width: 20%;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 8px 10px;
  
  
    
  }